language: python
dist: xenial
sudo: true
python:
  - 3.5
  - 3.6
  - 3.7
install:
  - pip install -e ".[tests]"
script: flake8 --isort-show-traceback && py.test
notifications:
  slack:
    rooms:
      secure: jIEYF0hg8naMuvPG+XxVkLRYW62oBFCGJB5acz9+/KNsuJ3/uRQzSQAfCWoFgoKdhCrIndzrtL44icK9KtrY87/iiUF2JnycsQ8VE3XbGhB5eI1XsdDLBoqJKQuo8yu9upuy8XsCB+KR+Z+YOig3ffQPyISfP/seQbI6C1K74xq7VdaY7egikL0ClPYNcQdqpnzHhHe1V4s8WTp4YJMY2DnWe+1Hilz7CjjILDQg0NzQTlgMO9FSLmlFhP8kbmwzraUOOf+hI6Gpfz2/AQP6sygptZCO+G6STjrv/513/LeVygzoPVUSQnSuOj51Mx7Xj2zE0S+BuBd3stwTFtMWoKqSSaWU7CLhEe26uvyzp6HdZEFxFO6+d+k1gHxfolFf7F6b2qD13Ymx76YnEGHMOCDz7ZVoXxnKVeLYb8zc4002NsX3OYu3k8cQDpAnL2rgSOh7UlQcloCHJShuGAyI5lMYWnZhbLigwpN3nj9/uq810SQvw1UKDgbNjGrpEr+qYQIBdoHI60JxdW0Bafia3K8YHKS5rvN1cxIUWeAXOkslHHwXsElH4IFSxJ08d52vnAkV/ZTxMJDEEtVbAz/UFEStAjfjdeCj30/oeVGvtfmrhTrq62PUujExUgOtxEzV9Fh+gtjZ6mAtPIhpqvh46ogzM8wIiOJauQao7bCqai8=
