include README.md LICENSE
include requirements*.txt
include teamplify_runner/backup/*.txt
include teamplify_runner/*.yml
include teamplify_runner/*.cnf
include teamplify_runner/*.cf
include teamplify_runner/*.conf

global-exclude .DS_Store
