name: Tests
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  workflow_dispatch:
    inputs:
      update_channel:
        type: choice
        description: 'Update channel'
        options:
          - latest
          - stable
        default: stable

env:
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
  UPDATE_CHANNEL: ${{ inputs.update_channel || 'stable' }}

jobs:
  notify-build-start:
    # Secrets are not available for forks for security reasons, so pull
    # request checks will fail when trying to send the Slack notification.
    # Unfortunately, there's no way to explicitly check that a secret is
    # available, so we check for event_name instead:
    # https://github.com/actions/runner/issues/520
    if: ${{ github.event_name != 'pull_request' && inputs.update_channel != 'latest' }}
    runs-on: ubuntu-latest
    steps:
      - uses: ivelum/github-action-slack-notify-build@v1.7.2
        id: slack
        with:
          channel_id: C0PT3267R
          status: STARTED
          color: '#ee9b00'
    outputs:
      status_message_id: ${{ steps.slack.outputs.message_id }}

  lint-and-tests:
    strategy:
      fail-fast: false
      matrix:
        python: ['3.9', '3.10', '3.11', '3.12', '3.13']
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: astral-sh/setup-uv@v5
        with:
          python-version: ${{ matrix.python }}

      - run: uv sync --group dev

      - run: uv run ruff check

      - run: uv run pytest --ignore tests/test_startup.py

  setup-test:
    name: Set up on-premises (Compose ${{ matrix.compose-version }})
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        compose-version: ['v2.29.0', 'v2.38.0', 'v2.39.0', 'v2.40.3', 'latest']
    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Compose
        uses: docker/setup-compose-action@v1
        with:
          version: ${{ matrix.compose-version }}

      - name: Verify Compose version
        run: docker compose version

      - uses: astral-sh/setup-uv@v5

      - name: Install Teamplify
        run: uv tool install --editable .

      - name: Configure
        run: teamplify configure

      - name: Create backup directory
        run: mkdir ${{ runner.temp }}/backup

      - name: Set backup_mount
        run: sed -i -e '/backup_mount =/ s|= .*|= ${{ runner.temp }}/backup|' ~/.teamplify.ini

      - name: Set product key
        run: sed -i -e '/product_key =/ s|= .*|= ${{ secrets.ONPREMISE_PRODUCT_KEY }}|' ~/.teamplify.ini

      - name: Set update channel
        run: sed -i -e '/update_channel =/ s|= .*|= ${{ env.UPDATE_CHANNEL }}|' ~/.teamplify.ini

      - name: Disable crash reports
        run: sed -i -e '/send_crash_reports =/ s|= .*|= no|' ~/.teamplify.ini

      - name: Login to public ECR
        run: docker login -u AWS -p $(aws --region us-east-1 ecr-public get-login-password) public.ecr.aws

      - name: Wait for Teamplify to start
        run: teamplify start

      - run: uv tool install pytest-playwright

      - run: playwright install

      - name: Check that the login page is available
        run: >
          pytest -m "playwright"
          --tracing on
          --output tests_output
          --junit-xml tests_output/pytest-playwright-${{ github.run_number }}.xml

      - name: Publish test results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
          check_name: "Playwright report"
          fail_on: "nothing"
          files: |
            tests_output/pytest-playwright-*.xml

      - name: Upload Playwright traces
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: playwright-traces-${{ matrix.compose-version }}
          path: tests_output
          retention-days: 3

      - name: Test Teamplify backup command
        run: teamplify backup ${{ runner.temp }}/backup/test-backup.sql.gz

  notify-build-failure:
    if: ${{ failure() && github.event_name != 'pull_request' }}
    needs: [lint-and-tests, setup-test, notify-build-start]
    runs-on: ubuntu-latest
    steps:
      - name: Notify slack fail
        uses: ivelum/github-action-slack-notify-build@v1.7.2
        with:
          channel_id: C0PT3267R
          status: FAILED
          color: '#d7263d'

  notify-build-success:
    if: ${{ github.event_name != 'pull_request' && inputs.update_channel != 'latest' }}
    needs: [lint-and-tests, setup-test, notify-build-start]
    runs-on: ubuntu-latest
    steps:
      - name: Notify slack success
        uses: ivelum/github-action-slack-notify-build@v1.7.2
        with:
          message_id: ${{ needs.notify-build-start.outputs.status_message_id }}
          channel_id: C0PT3267R
          status: SUCCESS
          color: '#16db65'
